{{!-- HEADER --}}
<header id="centerHeader">
    <h1>This Just In</h1>
    <br>
    <br>
    <p>Click the down arrow to pull articles!</p>
</header>

<div class="downArrow">
    <i class="fas fa-angle-down"></i>
</div>
{{!-- --}} {{!-- SECTION --}}
<section id="newsArticles">

</section>
{{!-- --}}